.swiper-button-prev, .swiper-button-next {
    color:rgb(183, 190, 219)
}
.swiper-pagination-bullet {
    background: rgb(183, 190, 219);
}
.swiper-button-next:after,.swiper-button-prev:after {
    color: rgb(255, 255, 255);
}